<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/styles.css"/>
    <title>Document</title>
</head>
<body>
<!-- JINJA2 SYNTAX-->
<!-- use {{x}} to display the content of a variable named x-->
    <h1>{{message}}</h1>

<!---use the url_for() function to generate an URL to a route-->
<!-- the first agument for show_gallery is the view function that we want the URL for-->
<a href="{{ url_for('show_gallery')}}">Gallery</a>
</body>
</html>